In [3]:
import pandas as pd

In [4]:
pd.set_option('display.max_colwidth',100)

In [5]:
df = pd.read_csv('sample_text.csv')
df.shape

(8, 2)

In [6]:
df

,text,category
0,Meditation and yoga can improve mental health,Health
1,"Fruits, whole grains and vegetables helps control blood pressure",Health
2,These are the latest fashion trends for this week,Fashion
3,Vibrant color jeans for male are becoming a trend,Fashion
4,The concert starts at 7 PM tonight,Event
5,Navaratri dandiya program at Expo center in Mumbai this october,Event
6,Exciting vacation destinations for your next trip,Travel
7,Maldives and Srilanka are gaining popularity in terms of low budget vacation places,Travel

In [7]:
import warnings
warnings.filterwarnings('ignore')

In [8]:
# convert into vectors
from sentence_transformers import SentenceTransformer

In [9]:
encoder = SentenceTransformer("all-mpnet-base-v2")
vectors = encoder.encode(df.text)
vectors.shape

(8, 768)

In [10]:
dim = vectors.shape[1]
dim

768

In [13]:
import faiss
index = faiss.IndexFlatL2(dim)
index

In [14]:
index.add(vectors)

In [15]:
search_query = "I want to buy something"
vec = encoder.encode(search_query)
vec.shape

(768,)

In [19]:
import numpy as np
svec = np.array(vec).reshape(1,-1)
svec.shape

(1, 768)

In [21]:
distances, I = index.search(svec,k=2)

In [22]:
I

array([[2, 5]])

In [24]:
df.loc[[2,5]]

                                                              text category
2                These are the latest fashion trends for this week  Fashion
5  Navaratri dandiya program at Expo center in Mumbai this october    Event

- `It is a semantic search where we have given a search_query which is not in the dataset, but based on the similarity of the vectors it searches and gives you the results.`

In [ ]:
search_query

'I want to buy something'

In [26]:
search_query1 = 'Apple keeps the doctor away'
vec = encoder.encode(search_query1)
vec.shape

(768,)

In [28]:
import numpy as np
svec1 = np.array(vec).reshape(1,-1)
svec1.shape

(1, 768)

In [30]:
distances, I = index.search(svec1,k=2)

In [31]:
I

array([[1, 5]])

In [ ]:
df.loc[[1,5]] # see it gave u the category as Health

                                                               text category
1  Fruits, whole grains and vegetables helps control blood pressure   Health
5   Navaratri dandiya program at Expo center in Mumbai this october    Event

## Stuff method and map-reduce method

- `Stuff method is the most simplest method of all where after giving the embeddings to the vector database, we just find out the similarity based on the search query and we get some chunks of data lets say we got 2 chunks based on the similarity of our search query. And then we pass those chunks to the open Ai api key which do has some limit like upto 1000 tokens. So when we are passing the chunks, we need to be careful that our chunks should not exceed the limit of openai API.`

- `Map-Reduce method is something where we pass the chunks to individual LLM. We may do some more calls in this method when compared to stuff mehtod. we just do one call in stuff method`

![alt text](image-3.png)